.title {
  font-size: 2rem;
  color: white;
}

footer {
  padding: 25px;
  height: 15vh;
  background-color: #3c4048;
  color: #eaeaea;
  border-top: 2px solid #b2b2b2;
}

#home-landing {
  min-height: 92vh;
  background-color: #eaeaea;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
}
#home-landing #landing-text {
  color: white;
  font-size: 3rem;
  text-shadow: -2px 0px 13px rgb(0, 0, 0);
  font-family: "Alfa Slab One", cursive;
}
#home-landing #landing-subtext {
  display: inline-block;
  padding: 20px;
  background-color: #3c4048;
  color: white;
  border: 3px solid #00abb3;
  border-radius: 40px 0px 40px 0px;
  box-shadow: -5px 10px 5px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 10px 5px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 10px 5px 4px rgba(0, 0, 0, 0.75);
}
#home-landing #landing-subtext div > a {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  #home-landing {
    padding: 20px;
    text-align: center;
  }
  #home-landing #landing-div #landing-text {
    font-size: 2rem;
  }
}
#section-a {
  min-height: 100vh;
  padding-top: 50px;
}
#section-a .section-a-header {
  padding-top: 50px;
  margin-bottom: 50px;
  height: 10vh;
  text-align: center;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alfa Slab One", cursive;
}
#section-a .section-a-header h2 {
  padding: 15px 50px;
  border-radius: 25px;
  background-color: white;
  color: black;
}
#section-a .section-a-card {
  padding: 15px;
  background-color: white;
  border: 2px solid #3c4048;
  border-radius: 15px;
  box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
}
#section-a .section-a-card h2 {
  font-weight: 700;
}
#section-a #solutions {
  min-height: 100vh;
  padding: 50px;
}
#section-a #solutions .solutions-container {
  border: 2px solid white;
  border-radius: 10px;
  background-size: cover;
  max-width: 1000px;
  margin: 0 auto;
}
#section-a #solutions .solutions-container h3 {
  font-family: "Alfa Slab One", cursive;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: -1.5rem;
  margin-left: 50px;
  background-color: white;
  width: 400px;
}
@media screen and (max-width: 767px) {
  #section-a #solutions .solutions-container h3 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
#section-a #solutions .solutions-container .solutions-paper {
  margin: 10px 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  display: block;
}
#section-a #solutions .solutions-container .solutions-paper h5 {
  text-align: center;
  font-weight: bold;
}
#section-a #solutions .solutions-container .solutions-img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  #section-a #solutions {
    padding: 10px;
  }
}
#section-a #partners #partners-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#section-a #partners #partners-flex img {
  border-radius: 20px;
  background-color: white;
  width: 300px;
}

.img-hover-zoom {
  height: 400px;
  overflow: hidden;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  background-color: #00abb3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.img-hover-zoom img {
  transition: transform 0.5s ease;
  width: 300px;
}
.img-hover-zoom img:hover {
  transform: scale(1.2);
}

.img-hover-zoom:hover {
  box-shadow: 0px 0px 13px 5px #eaeaea;
  -webkit-box-shadow: 0px 0px 13px 5px #eaeaea;
  -moz-box-shadow: 0px 0px 13px 5px #eaeaea;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3c4048;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  transform: scaleX(1);
}

.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #3c4048;
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.hvr-reveal:hover:before,
.hvr-reveal:focus:before,
.hvr-reveal:active:before {
  transform: translateY(0);
  border-width: 4px;
}

#talent {
  min-height: 92vh;
}
#talent #talent-row {
  margin: 0;
}
#talent #talent-row #sidebar-specs {
  background-color: #b2b2b2;
}
#talent #talent-row #portfolios {
  height: 100%;
  background-color: #eaeaea;
}
#talent #talent-row #portfolios #portfolios-header-div {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
#talent #talent-row #portfolios #portfolios-header-div #portfolios-header-text {
  font-family: "Alfa Slab One", cursive;
  color: #3c4048;
  text-decoration: underline;
  padding: 15px 50px;
  border-radius: 25px;
  background-color: white;
  color: black;
}
#talent #talent-row #portfolios #portfolio-cards {
  padding: 50px;
}
#talent #talent-row #sidebar-filler {
  background-color: #b2b2b2;
}

#careers {
  padding-top: 25px;
}
#careers #careers-header-div {
  padding-top: 50px;
  height: 10vh;
  text-align: center;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alfa Slab One", cursive;
}
#careers #careers-header-div #careers-header {
  padding: 15px 50px;
  border-radius: 25px;
  background-color: white;
  color: black;
}
#careers .job-container {
  height: 100%;
}

.company {
  min-height: 100vh;
}

#about-us-header-div {
  padding-top: 50px;
  margin-bottom: 50px;
  height: 10vh;
  text-align: center;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alfa Slab One", cursive;
}
#about-us-header-div #about-us-header {
  padding: 15px 50px;
  border-radius: 25px;
  background-color: white;
  color: black;
}

.parallax {
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 5px solid #00abb3;
}

.parallax-text {
  max-width: 75%;
  text-align: center;
  margin: 25px auto;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

#contact {
  min-height: 92vh;
}
#contact #contact-form {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}
#contact #contact-form h2 {
  font-family: "Alfa Slab One", cursive;
}
#contact #contact-form img {
  margin-top: 20px;
  width: 50%;
}
@media screen and (max-width: 767px) {
  #contact #contact-form {
    width: 80%;
  }
}

#login {
  min-height: 92vh;
  background-color: #eaeaea;
  padding-top: 50px;
  overflow-x: hidden;
}
#login #login-form {
  margin: auto;
  width: 60%;
}
@media screen and (max-width: 767px) {
  #login #login-form {
    width: 90%;
  }
}
#login #login-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login #login-left img {
  margin: 50px;
  width: 600px;
}

.login-header {
  font-family: "Alfa Slab One", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: "Lato", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

.top-padding {
  padding-top: 5vh;
}

.fullHeight {
  min-height: 100%;
}

.color1 {
  color: #00abb3;
}

.color2 {
  color: #3c4048;
}

.color3 {
  color: #b2b2b2;
}

.color4 {
  color: #eaeaea;
}

.bg1 {
  background-color: #00abb3;
}

.bg2 {
  background-color: #3c4048;
}

.bg3 {
  background-color: #b2b2b2;
}

.bg4 {
  background-color: #eaeaea;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #00abb3 #eaeaea;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #eaeaea;
}

*::-webkit-scrollbar-thumb {
  background-color: #00abb3;
  border-radius: 0px;
  border: 0px solid #ffffff;
}

.portfolio-card {
  border: 1px solid #00abb3;
  border-radius: 15px;
  box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
}

.portfolio-avatar {
  width: 150px;
}/*# sourceMappingURL=main.css.map */