@import "variables";

#contact {
  min-height: 92vh;

  #contact-form {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;

    h2 {
      font-family: $alfa;
    }
    img {
      margin-top: 20px;
      width: 50%;
    }
  }

  @media screen and (max-width: 767px) {
    #contact-form {
      width: 80%;
    }
  }
}
