@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: $lato;
}
html,
body {
  overflow-x: hidden;
}
.top-padding {
  padding-top: 5vh;
}
.fullHeight {
  min-height: 100%;
}

.color1 {
  color: $color1;
}
.color2 {
  color: $color2;
}
.color3 {
  color: $color3;
}
.color4 {
  color: $color4;
}
.bg1 {
  background-color: $color1;
}
.bg2 {
  background-color: $color2;
}
.bg3 {
  background-color: $color3;
}
.bg4 {
  background-color: $color4;
}

// Centered Flex
.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #00abb3 #eaeaea;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #eaeaea;
}

*::-webkit-scrollbar-thumb {
  background-color: #00abb3;
  border-radius: 0px;
  border: 0px solid #ffffff;
}
