@import "variables";

#home-landing {
  height: 92vh;
  background-color: $color4;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;

  #landing-text {
    color: white;
    font-size: 3rem;
    text-shadow: -2px 0px 13px rgba(0, 0, 0, 1);
    font-family: $alfa;
  }
  #landing-subtext {
    display: inline-block;
    padding: 20px;
    background-color: $color2;
    color: white;
    border: 3px solid #00abb3;
    border-radius: 40px 0px 40px 0px;
    box-shadow: -5px 10px 5px 4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -5px 10px 5px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 10px 5px 4px rgba(0, 0, 0, 0.75);
    div > a {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 767px) {
  #home-landing {
    padding: 20px;
    text-align: center;

    #landing-div {
      #landing-text {
        font-size: 2rem;
      }
    }
  }
}

#section-a {
  min-height: 100vh;
  padding-top: 50px;

  .section-a-header {
    padding-top: 50px;
    margin-bottom: 50px;
    height: 10vh;
    text-align: center;
    color: $color4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $alfa;

    h2 {
      padding: 15px 50px;
      border-radius: 25px;
      background-color: white;
      color: black;
    }
  }

  .section-a-card {
    padding: 15px;
    background-color: white;
    border: 2px solid $color2;
    border-radius: 15px;
    box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: -9px 13px 28px -6px rgba(0, 0, 0, 0.44);

    h2 {
      font-weight: 700;
    }
  }

  #solutions {
    min-height: 100vh;
    padding: 50px;

    .solutions-container {
      border: 2px solid white;
      border-radius: 10px;
      background-size: cover;
      max-width: 1000px;
      margin: 0 auto;

      h3 {
        font-family: $alfa;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        margin-top: -1.5rem;
        margin-left: 50px;
        background-color: white;
        width: 400px;
      }

      @media screen and (max-width: 767px) {
        h3 {
          width: 200px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .solutions-paper {
        margin: 10px 20px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        display: block;

        h5 {
          text-align: center;
          font-weight: bold;
        }
      }

      .solutions-img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    #solutions {
      padding: 10px;
    }
  }

  #partners {
    #partners-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      img {
        border-radius: 20px;
        background-color: white;
        width: 300px;
      }
    }
  }
}

// Zoom on hover

.img-hover-zoom {
  height: 400px;
  overflow: hidden;
  border: 2px solid $color4;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  background-color: $color1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  img {
    transition: transform 0.5s ease;
    width: 300px;
  }
  img:hover {
    transform: scale(1.2);
  }
}
.img-hover-zoom:hover {
  box-shadow: 0px 0px 13px 5px $color4;
  -webkit-box-shadow: 0px 0px 13px 5px $color4;
  -moz-box-shadow: 0px 0px 13px 5px $color4;
}

// Sweep to right
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color2;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

// Reveal

.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: $color2;
  border-radius: 5px;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before,
.hvr-reveal:focus:before,
.hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}
