@import "variables";

#talent {
  min-height: 92vh;

  #talent-row {
    margin: 0;

    #sidebar-specs {
      background-color: $color3;
    }
    #portfolios {
      height: 100%;
      background-color: $color4;

      #portfolios-header-div {
        width: 100%;
        text-align: center;
        padding-top: 20px;

        #portfolios-header-text {
          font-family: $alfa;
          color: $color2;
          text-decoration: underline;
          padding: 15px 50px;
          border-radius: 25px;
          background-color: white;
          color: black;
        }
      }
      #portfolio-cards {
        padding: 50px;
      }
    }
    #sidebar-filler {
      background-color: $color3;
    }
  }
}
